@import 'colors/one-dark.css';

* {
  border: none;
  border-radius: 0;
  font-family: "Adwaita Sans", "JetBrains Mono Nerd Font Propo", sans-serif;
  font-weight: bold;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @bg0;
  border: 1px solid@bg3;
  border-radius: 12px;
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#custom-launcher {
  background-color: @bg0;
  color: @fg;
  margin: 0 0 0 12px;
  padding: 0 15px 0 15px;
  border-radius: 18px;
  border: 1px solid @bg1;
}


#workspaces {
  background-color: @bg0;
  padding: 5px 3px;
  margin: 0 0 0 12px;
  border-radius: 18px;
  border: 1px solid @bg1;
  color: @fg;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background-color: @bg1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bge;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#custom-cava{
  background-color: @bg0;
  color: @aqua;
  padding: 0 15px 0 15px;
  margin: 0 4px;
  border-radius: 50px;
  border: 1px solid @bg1;
}

#tray,
#backlight,
#memory,
#cpu,
#temperature,
#mpris,
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
  background-color: @bg0;
  padding: 0 8px;       /* reduce inside spacing */
  margin: 0 4px;        /* reduce outside gap */
  border-radius: 16px;
  border: 1px solid @bg1;
}

#custom-wlogout{
  background-color: @red;
  padding: 0 15px 0 15px;
  margin: 0 4px;
  border-radius: 50px;
  border: 1px solid @bg1;
}

#clock {
  color: @blue;
}

#custom-notification {
  color: @fg;
}

#pulseaudio {
  color: @yellow;
}

#network{
  color: @purple;
}

#battery{
  color: @green;
}

