[Unit]
Description=Hyprland Wayland Session
After=graphical-session-pre.target
Wants=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/Hyprland
Restart=always
RestartSec=1
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=Hyprland

[Install]
WantedBy=default.target
